:root{
    --Inter: 'Inter', sans-serif;
}

body {
    background: url('./imgs/estadio.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.navbar {
    margin-top: 1%;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.50);
}

.btn {
    margin-top: 7px;
    margin-right: 7px;
    font-weight: bold;
    background: none;
    color:white;
    background: black;
}
.fa-search{
  background: none;
  color: white;
  border: none;
  border-left: none;
  font-size: large;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    border-radius: 7px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-item:hover {
    background-color: #86c232;
    color: #36454f;
}
.dropdown-menu a:hover {
    background-color: #86c232;
    color: #36454f;
}
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: black;
    color: white;
    border-radius: 7px;
}
.btn:hover {
    margin-top: 7px;
    margin-right: 7px;
    background: #86c232;
    color: #36454f;
}

a{
    text-decoration: none;
    color: white;
}

.btn a:hover{
    text-decoration: none;
    color: white;
    background: black;
}

.btn a:active{
    color: white;
    background: black;
}


.btn a:after{
    color: white;
    background: black;
}

.container {
    text-align: center;
}


.container h4 {
    color: white;
    border-radius: 5px;
}

img {
    width: 70%;
    height: 70%;
}

.footer {
    margin-top: 14%;
    color: #86c232;
    text-align: center;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fab {
    width: 15px;
    height: 15px;
}