:root{
    --Inter: 'Inter', sans-serif;

}

body {
    background: url('./imgs/estadio.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd7a3;
}
