:root{
    --Inter: 'Inter', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./imgs/estadio.jpg') no-repeat center center fixed;
    background-size: cover;

}


section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    position: relative;
}

.topleft{
    position: absolute;
    top: 20px;
    left: 20px;
}